/*
верхняя навигация
*/
.nav_top {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 30px;
}
.nav_top a.right {
    float: right;
}

.nav_top a {
    display: block;
    float: left;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.nav_top a:hover {
    background-color: #ddd;
    color: black;
}

/*
левая навигация
*/

.row_left {
    box-sizing: border-box;
    width: 200px;
    height: 550px;
    margin-left: 50px;
    background-color: #ddd;
    padding: 20px;
    float: left;
}

.nav_left {
    margin-top: 5px;
    padding-left: 5px;
    list-style: none;
}

.nav_left a {
    display: block;
    width: 8em;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.nav_left a:hover {
    background-color: white;
    color: black;
}

/*
центральный блок
*/

.row_main {
    box-sizing: border-box;
    height: auto;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ddd;
}

#recording {
    box-sizing: border-box;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border: 0.1px solid black;
}

.organization {
    text-align: center;
}

#get_organization, #get_recording, #event {
    text-decoration: none;
}

#description {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
правая навигация
*/

.row_right {
    box-sizing: border-box;
    width: 200px;
    height: 550px;
    margin-right: 50px;
    background-color: #ddd;
    padding: 20px;
    float: right;
}


.nav_right {
    margin-top: 5px;
    padding-right: 5px;
    list-style: none;
}

.nav_right a {
    display: block;
    width: 8em;
    padding: 10px;
    text-decoration: none;
    color: #333;
    float: right;
}

.nav_right a:hover {
    background-color: white;
    color: black;
}


