<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мероприятия</title>

    <link href="{% static 'record/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
<!--    <link rel="stylesheet" href="{% static 'record/home.css' %}">-->
    <script defer src="{% static 'record/events.js' %}"></script>
    <script defer src="{% static 'record/bootstrap/js/bootstrap.bundle.js' %}"></script>


</head>

<body style="background-color:white">


<!--Верхняя навигационная панель-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Рекомендуемые</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Цена</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенная</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class=" navbar navbar-expand-lg navbar-light bg-light ">
    <div class=" container-fluid ">
        <div class="d-flex flex-row bd-highlight ">
            <div class=" bd-highlight ">
                <a class="me-3" href="{% url 'event' %}">мероприятия</a>
                <a  href="">организации</a>
            </div>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class=" bd-highlight ">
                <a href="">вход</a>
                <a class="ms-3" href="">регистрация</a>
            </div>
        </div>
    </div>
</nav>

<div class="nav_top" >

<!--        <form method="post">-->
<!--            {% csrf_token %}-->
<!--            {{ form_user }}-->
<!--            {{ form_customer }}-->
<!--            <button>регистрация</button>-->
<!--        </form>-->
</div>


<!--Левая навигационная панель-->



<!--Правая навигационная панель-->

<div class="container">
    <form method="get" id="filter_form">
        {{ filter.form.as_div }}
        <button class="btn_filter">найти</button>
    </form>
        <button class="btn_filter" id="all_events">сбросить</button>
</div>


<!--Центральный блок-->
<div id="records">

</div>

<!--Пагинация-->
<div class="center" id="page">

</div>



</body>
</html>
