<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'record/home.css' %}">
    <title>Title</title>
</head>

<body style="background-color:#f1f1f1;">


<!--Верхняя навигационная панель-->
<div class="nav_top">
    <a href="url">Главная</a>
    <a href="url">Организации</a>
    <a class="right" href="url">Вход</a>
    <a class="right" href="url">Регистрация</a>
</div>



<!--Левая навигационная панель-->
<div class="row_left">
    <ul class="nav_left">
        <li><a href="url">Мероприятия</a></li>
        <li><a href="url">Образование</a></li>
        <li><a href="url">Наука</a></li>
        <li><a href="url">Туризм</a></li>
        <li><a href="url">Спорт</a></li>
        <li><a href="url">Разное</a></li>
    </ul>
</div>


<!--Правая навигационная панель-->
<div class="row_right">
    <ul class="nav_right">
        <li><a href="url">Сбросить фильтр</a></li>
        <li><a href="url">Платные</a></li>
        <li><a href="url">Бесплатные</a></li>
        <li><a href="url">Дата</a></li>
    </ul>
</div>

<!--центральный блок-->
{% for event in all_events %}
<div class="row_main">
    <div id="recording">
        <p class="organization"><a id="get_organization" href="url">{{ event.organization__name }}</a></p>
        <div id="description">
            <a id="event" href="url"> {{ event.name }}</a>
            <p> Дата: {{ event.date_event | date:"d F Y" }}</p>
            <p> Время: с {{ event.start_time | time:"H:i" }} по {{ event.end_time | time:"H:i"}} </p>
            <p> Лимит участников: {{ event.limit_clients }} </p>
            <p> Количество участников: {{ event.quantity_clients }} </p>
            <p> Цена: {{ event.price_event | floatformat | default:"Бесплатно"}} </p>
        </div>
        <p class="organization"><a id="get_recording" href="url">Записаться</a></p>
    </div>
</div>
{% endfor %}

</body>
</html>