<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="home.css">
    <title>Title</title>
</head>

<body style="background-color:#f1f1f1;">


<!--Верхняя навигационная панель-->
<div class="nav_top">
    <a href="url">Главная</a>
    <a href="url">Организации</a>
    <a class="right" href="url">Вход</a>
    <a class="right" href="url">Регистрация</a>
</div>



<!--Левая навигационная панель-->
    <div class="row_left">
        <ul class="nav_left">
            <li><a href="url">Мероприятия</a></li>
            <li><a href="url">Образование</a></li>
            <li><a href="url">Наука</a></li>
            <li><a href="url">Туризм</a></li>
            <li><a href="url">Спорт</a></li>
            <li><a href="url">Разное</a></li>
        </ul>
    </div>


<!--Правая навигационная панель-->
    <div class="row_right">
        <ul class="nav_right">
            <li><a href="url">Сбросить фильтр</a></li>
            <li><a href="url">Платные</a></li>
            <li><a href="url">Бесплатные</a></li>
            <li><a href="url">Дата</a></li>
        </ul>
    </div>

    <!--центральный блок-->
    <div class="row_main">
        <div id="recording">
            <p class="organization"><a id="get_organization" href="url">Организация</a></p>
            <div id="description">
                <a id="event" href="url"> Мероприятие </a>
                <p> Начало-Конец </p>
                <p> Лимит участников </p>
                <p> Количество участников</p>
                <p> Цена </p>
            </div>
            <p class="organization"><a id="get_recording" href="url">Записаться</a></p>



        </div>
    </div>
</body>
</html>