<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profile.css">
    <title>Title</title>
</head>
<body style="background-color:#f1f1f1;">

<!--Верхняя навигационная панель-->
<div class="nav_top">
    <a href="url">Главная</a>
    <a href="url">Организации</a>
    <a class="right" href="url">Профиль</a>
    <a class="right" href="url">Выход</a>
</div>


<!--Левая навигационная панель-->
<div class="row_left">
  <ul class="nav_left">
    <li><a href="url">Мои записи</a></li>
    <li><a href="url">Отложенные записи</a></li>
    <li><a href="url">История</a></li>
</ul>
</div>

<!--центральный блок-->
<div class="row_main">
    <img src="" width="150" height="150">
    <div class="info">
        <p>Имя</p>
        <p>Фамилия</p>
        <p>Дата</p>
        <p>Почта</p>
        <p>Номер телефона</p>
        <p>Хобби</p>
        <a href="url">Редактировать</a>
    </div>
</div>


</body>
</html>



